[submodule "IsaacSaveManager"]
	path = IsaacSaveManager
	url = https://github.com/catinsurance/IsaacSaveManager
[submodule "HiddenItemManager"]
	path = HiddenItemManager
	url = https://github.com/ConnorForan/HiddenItemManager
[submodule "JumpLib"]
	path = JumpLib
	url = https://github.com/drpandacat/JumpLib
[submodule "CustomStatusLib"]
	path = CustomStatusLib
	url = https://github.com/drpandacat/CustomStatusLib
